/*@media only (max-width: 400px){
	.extend{
		
	}
}*/
body{
	Color: #352A14;
	font-family: Verdana;
	margin-left: auto;
	margin-right: auto;
	background-color: #e6e6e6;
	font-family: 'Trebuchet MS', serif;
	line-height: 1.6
}
/* Head */
header{
	background-image: url('images/back.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	border-radius: 15px 15px 0px 0px;
}
#headLogo{
	margin-top: 20px;
	width: 250px;
}
/*nav */
nav{
	width: 100%;
	height: 50px;
}
ul{
	margin:0;
	padding:0;
	text-decoration:none;
}
li{
	width:20%;
	float:left;
	color:#191919;
	text-align:center;
	text-decoration:none;
	position: relative;
}
.extend{
	background:#632CC0;
	position: absolute;
	width: 100%;
	overflow:hidden;
	z-index: 20;
	height: 2.6em;
	text-decoration:none;
}
a{
	color:#FFF;
	text-decoration:none;
}
#photo{
	float:right;
}
p{
	padding:0px 5px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.subtext{
	top:2em;
}
.orange{
	background:#632CC0;
}
.donate{
	background: red;
}
.whitetxt{
	color: white;
}
/*filler*/
#filler{
	background-color: white;
	height: 230px;
	background-image: url('images/banner.png'), url('images/back.png');
}
/* body */
#wrapper { 
	background-color: #EFEFEF;
	margin-right : auto;
	margin-left : auto;
	min-width: 980px;
	min-height: 520px;
	max-width: 1000px;
	border-radius: 15px;
}
.border{
	margin: 15px;
	border-radius: 25px;
	padding: 10px;
	border: 2px solid #a1a1a1;
	background: #dddddd;
	background:rgba(255,255,255,0.5);
	min-height: 100px;
	max-width: auto;
	word-wrap: break-word;
}
.news{
	width: 320px;
	border-radius: 25px;
	padding: 10px;
	margin: 15px;
	border: 2px solid #a1a1a1;
	background: #dddddd;
	background:rgba(255,255,255,0.5);
	min-height: 100px;
	margin-left: -15px;
}
.title{
	font-size: 130%;
	font-family: Verdana;
	background-color: #632CC0;
	padding: 4px;
	color: white;
	border-radius: 15px;
}
#centering{
	display: block; 
	clear: both;
}
#left{	
	float: left;
	width: 50%;
}
#full{	
	float: left;
	width: 100%;
}
.kids{
	color: blue;
}
.kids:hover{
	color: red;
}
.link{
	color: blue;
}
.link:hover{
	color: #632CC0;
}
/* footer */
footer {
	color: black;
	background-color: #632CC0;
	height:170px;    
	border-radius: 0px 0px 15px 15px;
}
#about{
	width: 300px;
	margin: 15px;
	float: left;
	font-size: 80%;
}
#partners{
	margin-left: 15px;
}
#partners2{
	margin:2px;
}
#donate{
	margin-right: 20px;
	margin-top: -50px;
	float: right;
	color: #000000;
}
a#donate:link {
	text-decoration: none;
}
a#donate:hover {
	color: white;
}
a#partners:hover {
	opacity: .9;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}
#eventhub{
	color: #000000;
}
a#eventhub:link {
	text-decoration: none;
}
a#eventhub:hover {
	color: #FF6600;
}
#copy {
   clear:both;
   text-align:center;
   font-size: 70%; 
 }
.gameborder{
	margin: 15px;
	border-radius: 25px;
	padding: 10px;
	border: 2px solid #a1a1a1;
	background: #dddddd;
	background:rgba(255,255,255,0.5);
	min-height: 100px;
	max-width: 740px;
	word-wrap: break-word;
}
/* Photo Gallery Styling */
div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #632CC0;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
	border-radius: 15px;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.mainImg{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
/* Contact Styling */
td.contactData{
	vertical-align: top;
	padding-right: 20px;
}
iframe.googleMap{
	display: block;
	margin: 0 auto;
}
/* adminPage Styling */
div.chart{
	float: left;
}